<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title data-jsx="2184378175" class="next-head">CryptoTonic | View the livestream of incoming news</title>
    <meta name="description" content="CryptoTechnology and Blockchain News Aggregator" data-jsx="2184378175" class="next-head">
    <meta name="twitter:description" content="CryptoTechnology and Blockchain News Aggregator" data-jsx="2184378175" class="next-head">
    <meta name="twitter:image:src" content="http://www.cryptotonic.com/static/images/opengraph.jpg" data-jsx="2184378175" class="next-head">
    <meta name="image" content="http://www.cryptotonic.com/static/images/opengraph.jpg" class="next-head">
    <meta content="CryptoTonic | Cryptotechnology and Blockchain News Aggregator" data-jsx="2184378175" class="next-head">
    <meta content="http://www.cryptotonic.com/static/images/opengraph.jpg" data-jsx="2184378175" class="next-head">
    <meta name="og:title" content="View the livestream of incoming news" data-jsx="2184378175" class="next-head">
    <meta name="og:image" content="http://www.cryptotonic.com/static/images/opengraph.jpg" data-jsx="2184378175" class="next-head">
    <meta name="og:url" content="http://www.cryptotonic.com" data-jsx="2184378175" class="next-head">
    <meta name="og:site_name" content="CryptoTonic" data-jsx="2184378175" class="next-head">
    <meta name="twitter:site" content="@CryptoTonic" data-jsx="2184378175" class="next-head">
    <meta name="og:type" content="website" data-jsx="2184378175" class="next-head">
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
